/*

!.gitignore
!.README.md

!.config
.config/*

!.themes
!.icons

!Wallpapers
Wallpapers/*
!Wallpapers/HorizonTheme
Wallpapers/HorizonTheme/*
!Wallpapers/HorizonTheme/178_H.png

!.config/alacritty
!.config/bspwm
!.config/fish
!.config/neofetch
!.config/nvim
!.config/polybar
!.config/ranger
!.config/rofi
